{% extends "Inra2013urzBundle:Default:IndexAdmin.html.twig" %}
{% block title %}Gestion des Employes{% endblock %}


{% block body%}
<div class="well">
    <form  {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
<fieldset>


        {{ form_widget(form) }}
<br>
        
        
        
  <button class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" >Ajouter</button>
  <button type="button" class="btn btn-danger" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" >Cancel</button>
</div>
</fieldset>
    </form>

{% endblock body %}

