{% extends "::base.html.twig" %}

{% block title %}Bienvenue Administrateur{% endblock %}

{%block menu %}
<div class="well" >
    <ul class="nav nav-list">
        <li class="active"><a href="Inra2013urzBundle:Default:IndexAdmin.html.twig"><i class="icon-home icon-white"></i> Home</a></li>
        <li><a href={{path("Inra2013Bundle_CreateProtocole")}}><i class="icon-file"></i> Crée un protocole</a></li>
        <li><a href=><i class="icon-eye-open"></i> Voir les protocoles </a></li>
        <li><a href="#"><i class="icon-pencil"></i> </a></li>
        <li><a href="#"><i class="i"></i></a></li>
    </ul>
</div>
{%endblock%}

{% block body %} <h5>Vous êtes dans la partie chercheur</h5>{%endblock %}
