{% extends "::base.html.twig" %}

{% block title %}Bienvenue{% endblock %}
{%block menu %}
<div class="well" >
    <ul class="nav nav-list">
        <li class="active"><a href={{ path("Inra2013urzBundle_Homepage")}}><i class="icon-home icon-white"></i> Home</a></li>
        <li><a href={{ path("Inra2013Bundle_CreateAnalyse")}}><i class=" icon-plus"></i> Créer analyse</a></li>
        <li><a href=><i class="icon-pencil"></i> Modifier analyse</a></li>
        <li><a href={{path("Inra2013Bundle_UploadFile")}}><i class=" icon-folder-open"></i> Importer</a></li>
        <li><a href={{path("Inra2103Bundle_CreateExcel")}}><i class=" icon-download-alt"></i> Exporter</a></li>
     
         
    </ul>
</div>
{%endblock%}
{% block body %} <h5>Vous etes dans la partie des utilisateurs courant</h5>{%endblock%}