{% extends "Inra2013urzBundle:Default:IndexChercheur.html.twig" %}
{% block title %}Create Analyse{% endblock %}
{%block body%}

{%if Status is defined%}
<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>Le protocole numéro a bien été enregistrer.</p>

</div>

{% else %} <div class="well">
    <form method="POST" action="{{form_enctype(form)}}">

        <h4>Création du protocole</h4></br>


     {{form_rest(form)}} 



        </br>
{#Pour le premier type de catégorie#}
        <div id="style1"></div>
        <select id="analyse1" class="select"><option>Sélectionner catégorie</option></select>
        </br>

{#Pour la deuxième type de catégorie#}
        <div id="style2"></div>
        <select id="analyse2" class="select"><option>Sélectionner catégorie</option></select>
        </br>
        </br>
        


        <input type="submit" value="Annuler" class="btn btn-danger" />
        <input type="submit" class="btn btn-primary" />






    </form> 
</div>


{%endif%}

{%endblock %}

{%block javascripts %}

<script type="text/javascript">
    $(function(){
        
    $("#analyse1").hide();
    $("#analyse2").hide();

     $('input[type=checkbox]').click(function(){
      var cochee = $(this).is(':checked'); // je regarde si la case est cochée ou non 
      value=$(this).attr("value"); //je recupere la valeur value dans le checkbox
      var DATA= 'id=' + value;
      var div_style_titre1="<fieldset><legend>Analyses Chimiques et Biochimiques</legend></fieldset>"; 
      var div_style_titre2="<fieldset><legend>Analyses Biologiques</legend></fieldset>"; 
 if (cochee == true) {
                $(function(){ 
             
                        $.ajax({
                            url: "{{path('Inra2013Bundle_SearchCategorieAnalyse')}}", // j'utilise le lien pour aller cherche les contenus à rajouter
                            cache: false,
                            dataType: "json",
                            method: "POST",
                            data: DATA,
                            success: function (data) {
                       
                                $.map(data, function (item,i) {
   
                         

                                  if(value == 1){  // si c le premier type de categorie
 $("#analyse1").show(); 
var div_data ="<option value="+item.id+">"+item.Nom+"</option>";
$(div_data).appendTo("#analyse1");
if(i == 0){ // on affiche le titre qu'une seul fois 
   $(div_style_titre1).appendTo("#style1"); 
    }

}else if(value == 2){  //si c le deuxieme,on l'affiche dans une autre div 
$("#analyse2").show(); 
var div_data ="<option value="+item.id+">"+item.Nom+"</option>";
$(div_data).appendTo("#analyse2");

if(i == 0){ 
    // on affiche le titre qu'une seul fois 
   $(div_style_titre2).appendTo("#style2"); 
    }
    }
                     
                            })
           
               
                        }
                        
                    })
          
              }); 
                  
                 
                  
}else { //si on decoche le checkbox

   if(value == 1){
   
                 $("#style1").empty();
                 $("#analyse1").empty();
                 $("#analyse1").hide();
                
        }else if(value == 2){
        
                $("#style2").empty()
                $("#analyse2").empty();
                $("#analyse2").hide();
                
}
}
            
    
            }); 
            
            
            /***************************************************************************************************************************************/
            
            $("select#analyse1 ").click(function(){


 $("select#analyse1 option:selected").each(function () {
     
            value=$(this).attr("value"); //je recupere la valeur value dans le selectionnée
            var DATA= 'id=' + value;
                           $(function(){ 
             
                        $.ajax({
                            url: "{{path('Inra2013Bundle_SearchTypeAnalyse')}}", // j'utilise le lien pour aller cherche les contenus à rajouter
                            cache: false,
                            dataType: "json",
                            method: "POST",
                            data: DATA,
                            success: function (data) {
                       
                                $.map(data, function (item,i) {
   
                         

                          console.log(item);    

var div_data ="<option value="+item.id+">"+item.Nom+"</option>";
$(div_data).appendTo("#analyse1");


                     
                            })
           
               
                        }
                        
                    })
          
              });
           
           
           
      });

             

            }); 
            
              $("select#analyse2 ").click(function(){


 $("select#analyse2 option:selected").each(function () {
           alert("selectionné 2 :"+$(this).attr("value"));
      });

             

            }); 
                      
        });
 

    </script>



{%endblock%}