{% extends "Inra2013urzBundle:Default:IndexUser.html.twig" %}
{% block title %}Sauvegarde Analyse{% endblock %}


{%block body%}

<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>Vos résultat d'analyse à bien été enregistrer</p>
</div>

{%endblock body%}

