{% extends "Inra2013urzBundle:Default:IndexUser.html.twig" %}
{% block title %}Sauvegarde Analyse{% endblock %}


{%block body%}
{% if Status == "SaveAnalyse" %}
<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>Vos résultat d'analyse à bien été enregistrer.</p>
</div>
{% elseif Status == 1 %}
<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>Vos résultat d'analyse sont en cours de validation.</p>
</div>
{% elseif Status == 2 %}
<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>Vos résultat d'analyse ont été validé.</p>
</div>
{% elseif Status == 3 %}
<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>Envoie d'alerte mail pour refus de resultat</p>
</div>
{%endif%}

{%endblock body%}

